<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Detail</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ list_detail.name }}</h1>
        <p>
          <a href="{% url "todo_list_update" list_detail.id %}">Edit</a>
        </p>
        <p>
          <a href="{% url "todo_list_delete" list_detail.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <td>Task</td>
              <td>Due date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for tasks in list_detail.items.all %}
                <td>
                  <a href="{% url "todo_item_update" tasks.id %}">{{ tasks.task }}</a>
                </td>
                <td>{{ tasks.due_date }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
